rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // TEMPORARY RULE FOR DIAGNOSTICS!
      // This allows anyone to read or write any file.
      // This is insecure and should be changed.
      allow read, write: if true;
    }
  }
}
